<html>
<head>
	<meta charset="UTF-8">
	<title> How to Haiku</title>
</head>
<body class="body_two">
	<div class="body_two">
				    <div class="login_signup">
							<ul>
								<li><a href="/signup">Sign Up</a></li>
								<li>or</li>
								<li><a href="/login">Login</a></li>
						    </ul>	
					</div>
				<div class="content sign_up_screen">
					<h2> How to Haiku</h2>

					<p> 
						The rules are simple:
				          <ol class="haiku_rules">
				          	<li>
				          		There are only <b>3</b> lines in a haiku(poem).	
				          	</li>
				          	<li>
				          		Line <i><b>O</b>ne</i> has to have <b>7</b> syllables.  		
				          	</li>
				          	<li>
				          		Line <i><b>T</b>wo</i> has to have <b>5</b> syllables.	
				          	</li>
				          	<li>
				          		Line <i><b>T</b>hree</i> has to have <b>7</b> syllables.  	
				          	</li>
				          </ol>

				          And That's it, that's the format. <br> <br>	
				           Give your work a title, edit it, delete it, adore it, whatever moves you.
					</p>
				
			     </div>
     </div>
     <source src="video/sakura.mp4" type="video/mp4">
	
</body>
</html>
