

<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
</head>
<body>
	<div class="row">
		  <div class="column1 column" >
		  		<p> make poetry today.
		  		   
		  		</p>
		  </div>
		  <div class="column2 column" >
		  	  <div class="haiku_logo">
			  	    <h1> Haiku</h1>
			  	  <h4> a poetry blog, <br>	 
			  	  7 - 5 - 7 style.
			  	  </h4>
		  	  </div>    
		  </div>
		  <div class="column3 column" >
		  	<div class="login_signup">
					<ul>
						<li><a href="/signup">Sign Up</a></li>
						<li>or</li>
						<li><a href="/login">Login</a></li>
				    </ul>	
			</div>

		        
		           <a href='/how_to'><u><i><b>C</b>ool. But what's a haiku?</i></u></a>
		   
		  </div>
	</div>

<video preload="none" autoplay loop muted>
		    <source src="video/cherryblossoms.mp4" type="video/mp4">

</body>
</html>





	