<html>
<head>
	<meta charset="UTF-8">
	<title> Haiku </title>
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
</head>
<body>



   


<div class="footer">
 
        
        <a href="https://github.com/alfonsoarriola"><img src="images/github_icon.png"></a>
</div>


	
  <%= yield %>

	
</body>
</html>