<html>
<head>
	<meta charset="UTF-8">
	<title> Log In</title>
</head>
<body>
	<div class="content sign_up_screen">
		<div class="login_screen content">
			<form action="/login" method="POST">
				<div>
					 <b>E</b>-mail. please. <br>
					<input type="text" name="user_email" placeholder="Email">
				</div>
				              <br> 
				<div>
					<b>A</b>nd your password. <br>
					<input type="password" name="password" placeholder="Password">
				</div>
				               <br>
				<div>
					<input class="button" type="submit" value="Login">
				</div>
			</form>
		</div>
	  </div>
</body>
</html>