<html>
<head>
	<meta charset="UTF-8">
	<title> New Haiku</title>
</head>
<body>
	<div class="new_poem_screen" >
        <div class="login_signup">
		   <ul>
			 <li><a href="/">Home</a></li>
				
			 <li><a href="/profile">Profile</a></li>
			   
			 <li><a href="/logout"> Log Out </a></li>
		   </ul>	
		</div>

	 <div class="content new_poem_screen">
			
					
						<h2>Create art </h2>
					
						<!-- <form action="/haiku/create" method="POST">
							
								<div>
									Your Poem Title:
									<br> <br>
									<input type="text" name="title">
							    </div>
							    <br>		
							
								<div>
									Your Poem:
									<br> <br>

				                   <textarea cols="30" rows="10" name="poem" class="form-control"></textarea>
				                </div>
				                
				                  <div>
									<input class='button'	type="submit" value="submit. please." >
							    </div>
							
						</form> -->

				<!-- ____________________________________  Haiku Analyzer (Prototype)   ______________________ -->

				        <form action="/haiku/create" method="POST">
				        	<input type="text" name="title">
				        	<input type="text" name="poem" value="7 - 5 - 7">
				        	<div>
									<input class='button'	type="submit" value="submit. please." >
							</div>
				        </form>

   </div>
   
   </div>	
</body>
</html>


