<html>
<head>
	<!-- the outer skeleton should be placed in layout.erb -->
	<meta charset="UTF-8">
	<title> Public Profile</title>
</head>
<body>
	<div class="overlay">
		<div class="login_signup">
				<ul>
					<li><a href="/profile">Profile</a></li>
					<li>or</li>
					<li><a href="/logout">Log Out</a></li>
			    </ul>	
		</div>
	<div class="content">
	    <h2> Haikus by <%= @user.first_name %> </h2>
	          <% if @poems.empty? %>
	               <h2> No Haikus.  Yet.
	               </h2>

	          <% else %>

	               <h3> 
	               	  Latest Haikus
	               </h3>
	               <br>
	               		<!-- you can use something here call .each_with_index instead of num -->
	                     <%# @num = 1 %>
	                          <% @poems.each_with_index do |poem, index| %>
								    <ul class="list_of_poems">
										 <li> 
										 	<u> 
										 	     <div class="poem_entry">
										 		 <%= (index+1) %>) <%= poem.title %>	  	
										 		 </div>	
										     </u>  
										   </li>
									 </ul>	
							 <%# @num += 1 %>
							   <% if index > 20 %>
							        <% break %>
						       <% end %>
						<% end %> 
	          <% end %>
	</div>
  </div>
</body>
</html>