<div class="content sign_up_screen">
	<form action="/signup" method="POST">
		
	   <div>
			<b>F</b>irst Name: 
			<br>
			<input type="text" name="f_name" >
		</div>
		<br>

		<div>
			<b>L</b>ast Name: 
			<br>
			<input type="text" name="l_name">
		</div>
		<br>

		<div>
			<b>E</b>-Mail Address:
			 <br>
			<input type="text" name="email">
		</div>
		<br>

		<div>
			<b>B</b>irthday: 
			<br>
			<input type="date" name="birthday" value="birthday">
		</div>
		<br>

		<div>
			<b>P</b>assword: 
			<br>
			<input type="password" name="password" value="Password">
		</div>
		<br>

		<div>
			<input class="button" type="submit" value="Submit">
		</div>

	</form>
</div>